#####**INHERITANCE :**

**Inheritance means just try to inherit the properties of parent class**

**Main objective of inheritance or the oops concept in python is that reusability of the code (so we don't need to write same code for multiple times)**

**INHERITANCE**
      
      Parent class 
           |
    proerties of parent class
           |
      child class 


Types of inheritance :     


*   Single Inheritance 

*   Multiple Inheritance 

*   Multilevel Inheritance 

*   Hierachical Inheritance 

*   Hybrid Inheritance

In [ ]:
# Single inheritance 

class parent :
  def func1(self) :
    print("this is the parent class")

class child (parent) :
  def func2(self) :
    print("this is child class")

In [ ]:
# To access the properties of all the classes the we have to create object of the 
# child class
obj1 = child()

In [ ]:
obj1.func1()

this is the parent class

In [ ]:
obj1.func2()

this is child class

In [ ]:
class IMS :

  clg_name = 'Institute of management of studies warud'
  stu_name = 'Mahendra' 

  def collge(self) :
    print( "Name of college : " , self.clg_name)
  def na_me(self) :
    print(" Name of student : " , self.stu_name)

class another_one(IMS) :
  
  def child(self) :
    print("This is the child class :")

In [ ]:
obj2 = another_one()

In [ ]:
obj2.collge()

Name of college :  Institute of management of studies warud

In [ ]:
obj2.na_me()

 Name of student :  Mahendra

In [ ]:
obj2.clg_name

'Institute of management of studies warud'

In [ ]:
obj2.na_me()

 Name of student :  Mahendra

**Multiple Inheritance**

    Parent class 
       |
    Parent class
       |
    proerties of parent classes
       |
    child class

**Multiple parent classes with one single child class**

In [ ]:
# Multiple Inheritance 

class parent1 :
  def class1(self) :
    print("This is the from parent1")

class parent2 :
  def class2(self) :
    print("This is from parent2")

class child( parent1 , parent2 ) :
  def child_class(self) :
    print("This is from child class")

In [ ]:
obj3 = child()

In [ ]:
obj3.class1()

This is the from parent1

In [ ]:
obj3.class2()

This is from parent2

In [ ]:
obj3.child_class()

This is from child class

In [ ]:
# first parent class 
class first_class :
  student_name = ""
  def __init__(self , a , b , c ) :
    self.a = a
    self.b = b 
    self.c = c 
    
  def printing(self) :
    print("student_name :" , self.student_name)

# second parent class
class second_name :
  student_number = "" 
  def number(self) :
    print("student_number :" , str(self.student_number))
    
# child class
class child_class(first_class , second_name) :
  
  def show_all(self) :
    print("Now do what you have to do")
    print("student_name : " , self.student_name)
    print("student_number : " , self.student_number)

In [ ]:
obj4 = child_class(3,5,6)

In [ ]:
obj4.student_name = "mahendra_gharad_patil"

In [ ]:
obj4.student_number = 9022856982

In [ ]:
obj4.show_all()

Now do what you have to do
student_name :  mahendra_gharad_patil
student_number :  9022856982

In [ ]:
class Batch_number:
    batchnumber=""
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
        
    def batch(self):
        print(self.batchnumber)

#parent class 2
class course_name:
    cname=""
    def course(self):
        print(self.cname)
        
#child child
class Student(Batch_number, course_name):
    
    def show(self):
        print("Btach:", self.batchnumber)
        print("Course", self.cname)

In [ ]:
#  1st parent class 
class person :

  def __init__( self , a , b , c , d ) :
    self.a = a
    self.b = b
    self.c = c
    self.d = d 
    
  def details(self) :
    print( "hellow i am " , self.a)
    print( "hellow i am " , self.b)
    print( "hellow i am " , self.c)
    print( "hellow i am " , self.d)

# 2nd parent class 
class company :

  def printed(self) :
    print("i am " , self.a)
    print("i am " , self.b)
    print("i am " , self.c)
    print("i am " , self.d)

class derieved (person , company ) :
  def show_new(self) :
    print("this is the child class")

In [ ]:
obj7 = derieved("mahendra" , "vikas" , "rohit" , "ritesh" )

In [ ]:
obj7.printed()

i am  datascientist
i am  webdev
i am  block_dev
i am  Android_dev

In [ ]:
obj7.details()

hellow i am  datascientist
hellow i am  webdev
hellow i am  block_dev
hellow i am  Android_dev

**Multilevel Inheritance**

    Parent class
        |
    child class 1
        |
    proerties of parent classes
        |
    child class 2 

using a single parent class properties in multiple child classes.

In [ ]:
#  parent class 
class class1 :
  def __init__(self) :
    self.a = int(input("Enter the value of a "))
    self.b = int(input("Enter the value of b "))

  def add(self) :
    return self.a + self.b

# 1st child class  
class class2(class1) :

  def mul(self) :
    return self.a * self.b 

# 2nd child class  
class class3(class2) :

  def sub(self) :
    return self.a - self.b

In [ ]:
obj9 = class3()

Enter the value of a 56
Enter the value of b 67

In [ ]:
obj9.add()

123

In [ ]:
obj9.mul()

3752

In [ ]:
obj9.sub()

-11

**__init__.super() is used to just initilise the properties of parent class in the chilld class**

In [ ]:
class Phones:
    def __init__(self,brand,model,price):
        self.brand=brand
        self.model=model
        self.price=price
        
    def specs(self):
        return ("brand",self.brand,"price", self.price)
    
    def typeofphone(self):
        if self.price > 25000:
            return 'This is a Budget phone'
        else:
            return 'this is mid range phone'
        
class Smartphone(Phones):
    def __init__(self,brand,model,price,ram,storage):
        super().__init__(brand,model,price)
        self.ram=ram
        self.storage=storage
        
class Flashipphone(Smartphone):
    def __init__(self,brand,model,price,ram,storage, frontcamera,backcamera, display):
        super().__init__(brand,model,price,ram,storage)
        self.frontcamera=frontcamera
        self.backcamera=backcamera
        self.display=display

In [ ]:
obj90 = Flashipphone("samsung" , "s8" , 98888 , 8 , 128 , "yes" , "yes" , "yes")

In [ ]:
obj90.typeofphone()

'This is a Budget phone'

In [ ]:
obj90.specs()

('brand', 'samsung', 'price', 98888)

**Hierachical Inheritance**

In hierachical inheritance we can inherit the properties of one single parent class by using multiple child classes

    Parent class
        |
    child class 1
        |
    child class 2
        |
    child class 3

In [ ]:
class parent1 :
  def __init__(self , a , b ):
    self.a = a
    self.b = b 

  def add(self) :
    return self.a + self.b 

class child1(parent1) :
  def multiplication(self) :
    return self.a*self.b

class child2(parent1) :
  def sub(self) :
    return self.a-self.b

In [ ]:
obj45 = child2(45,56)

In [ ]:
obj45.sub()

-11

In [ ]:
obj34 = child1(56,45)

In [ ]:
obj34.multiplication()

2520

In [ ]:
class Vehicle:
    def info(self):
        print("This is Vechicle")
        

class Car(Vehicle):
    def car_info(self,name):
        print("car name",name)
        

class Truck(Vehicle):
    def truck_info(self,name):
        print("truck name",name)

In [ ]:
obj44 = Truck()

In [ ]:
obj44.truck_info("mahendra")

truck name mahendra

In [ ]:
obj44.info()

This is Vechicle

In [ ]:
obj11 = Car()

In [ ]:
obj11.car_info("mahendra")

car name mahendra

 **Hybrid Inheritance**

     child_class1  parent_class  child_class2
        |           |             |
        |           |             | 

                child_class3
                
        In the hybrid inheritance we have one parent_class 
        called child_class1 and another class called child_class2 and 
        another child class called child_class3 

        and this child class3 is directly inherited from the child_class1
        child_class2 and also from parent_class

In [ ]:
class Vehicle:
    def info(self):
        print("This is Vechicle")
        

class Car(Vehicle):
    def car_info(self,name):
        print("car name",name)
        

class Truck(Vehicle):
    def truck_info(self,name):
        print("truck name",name)
        

class Sportscar(Car,Vehicle):
    def sportscar(self):
        print("inisde from sports class")

In [ ]:
ob1 = Sportscar()

In [ ]:
ob1.info()

This is Vechicle

In [ ]:
ob1.car_info("xuv300")

car name xuv300

In [ ]:
ob1.sportscar()

inisde from sports class

In [ ]:
ob2 = Sportscar()

***1. super() is used when we nedd to build classes(child class) that extend the 
functionality of previously build classes(parent class)***

***2.  super function in python is used to access method of immediate parent class***

In [3]:
class college :
  def name(self) :
    return "institute of management studies"

class invite(college) :
  def info_of_clg(self):
    name_of_clg = super().name()
    print("here i am studying at " , name_of_clg)

In [4]:
clg = invite()

In [5]:
clg.info_of_clg()

here i am studying at  institute of management studies

when you intialize a child class in python you can  call super().__init__() method
this initilize the parent class objcet into child class

In [13]:
#  Example for super class 

class add :
  def __init__(self , n1,n2,n3,n4) :
    self.n1 = n1
    self.n2 = n2
    self.n3 = n3 
    self.n4 = n4 
  def add_no(self) :
    return self.n1 + self.n2 + self.n3 + self.n4

class mul(add) :
  def __init__(self ,n1,n2,n3,n4 ) :
    super().__init__(n1 , n2  , n3 ,  n4)

  def mul_no(self) :
    return self.n1 * self.n2 * self.n3 * self.n4

In [15]:
sol = mul(3,4,5,6)

In [16]:
sol.add_no()

18

In [17]:
sol.mul_no()

360

In [ ]:
# syntax for super class 
class classname(parentclass):
    def method(self,arg):
        super([classname],[self]).method(args)

In [19]:
class Parent:
    def __init__(self):
        print("This is the parent class")
        
        
class Parent1:
    def __init__(self):
        print("This is the parent1 class")
        
    def info(self):
        print("info")
class Parent2:
    def __init__(self):
        print("This is the parent2 class")
        
        
class Child(Parent1,Parent2,Parent):
    def hello():
        print("hello")
    
        super(self,child).__init__()

In [21]:
ob = Child()

This is the parent1 class